@model Investeer.Models.ViewModels.FileUploadViewModel

@{
    ViewData["Title"] = "FileUpload";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        GetData();
    });
   
    function GetData() {
        $.ajax({
            type: "POST",
            url: "/Admin/GetDataTable",
            success: function (response) {
                bindtable(response);
                
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    const bindtable = function (dataObject) {

        if ($.fn.dataTable.isDataTable('#example')) {
            table = $('#example').DataTable();
        }
        else {
            table = $('#example').dataTable({
                "scrollX": true,
                "data": dataObject.data,
                "columns": dataObject.columns
            });
        }

    }
</script>
<div class="card">
    <form asp-controller="Admin" asp-action="FileUpload" enctype="multipart/form-data" method="post">
        @Html.Raw("<script>" + ViewBag.DynamicScripts + "</script>")
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-header">
            <h3 class="card-title">File upload</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" asp-for="File" class="custom-file-input">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<div class="card">
    <div class="card-body">
        <table class="display nowrap" style="width:100%;" id="example"></table>
    </div>
</div>



