@using Microsoft.AspNetCore.Identity
@using Investeer.Models.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnUrl="@Context.Request.Path" id="logoutForm" class="navbar-right">
        <button type="submit" class="btn btn-success">Log out</button>
    </form>
}
else
{
    <a class="btn btn-success" asp-controller="Account" asp-action="Login" >Sign in</a> 
    <span>&nbsp;</span>
    <a class="btn btn-success" asp-controller="Account" asp-action="Register">Register</a>
    }
