@using Investeer.Models.ViewModels;
@model PropertyViewModel

@if (!string.IsNullOrEmpty(Model.Address))
{
    <div class="col-md-4">
        <div class="card-box-a card-shadow">
            <div class="img-box-a">
                <img src="../assets/img/property-6.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
                <div class="card-overlay-a-content">
                    <div class="card-header-a">
                        <h2 class="card-title-a">
                            <a href="#!">@Html.DisplayNameFor(model => model.County)  </a>
                        </h2>
                        <p class="property-address text-light">@Html.DisplayNameFor(model => model.Address)</p>
                    </div>
                    <div class="card-body-a">
                        <a href="#" data-prop="Macomb" class="btn btn-primary mb-3 quicksidebar" onclick="InvsetProperty(@Html.DisplayNameFor(model => model.ID))">
                            Invest
                            <span class="bi bi-chevron-right"></span>
                        </a>
                    </div>
                    <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-center align-self-center align-items-center">
                            <li style="text-align: center; padding-left: 13%; padding-right: 13%;">
                                <h4 class="card-info-title">APR</h4>
                                <span>6.5</span>
                            </li>
                            <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                <h4 class="card-info-title">LTV </h4>
                                <span>70%</span>
                            </li>
                            <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                <h4 class="card-info-title">Term </h4>
                                <span>24 </span>
                            </li>
                        </ul>
                        <p class="p-3 text-center text-dark border-top-white small">30% funded by investors of total $300,000.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-4">
        <div class="card-box-a card-shadow">
            <div class="img-box-a">
                <img src="../assets/img/property-6.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
                <div class="card-overlay-a-content" style="bottom: 0;">
                    <div class="card-header-a">
                        <h2 class="card-title-a">
                            <a href="#!">@Html.DisplayNameFor(model => model.County)</a>
                        </h2>
                        <p class="property-address text-light">Coming soon.</p>
                    </div>
                    <div class="card-body-a">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
