@model Investeer.Models.ViewModels.QuickContactViewModel

<div class="quick-contact-bg"></div>
<div class="quick-contact">
    <div class="inner">
        <span class="close-box-collapse right-boxed bi bi-x closebtn"></span>
        <div class="title-box-d">
            <h3 class="title-d">Quick Contact</h3>
        </div>

        <div class="quickform">

            <form class="form-a" id="quickcontactform" asp-controller="Home" asp-action="QuickContact">
                <input type="hidden" name="hdproperty" id="hdproperty" value="" />
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">First Name <span class="text-danger">*</span></label>
                            <input type="text" asp-for="FirstName" class="form-control form-control-lg form-control-a">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Last Name <span class="text-danger">*</span></label>
                            <input type="text" asp-for="LastName" class="form-control form-control-lg form-control-a">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Contact Number <span class="text-danger">*</span></label>
                            <input type="text" asp-for="ContactNumber" class="form-control form-control-lg form-control-a">
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Email ID <span class="text-danger">*</span></label>
                            <input type="email" asp-for="EmailId" class="form-control form-control-lg form-control-a">
                            <span asp-validation-for="EmailId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Desired investment Amount <span class="text-danger">*</span></label>
                            <input type="number" asp-for="InvestmentAmount" class="form-control form-control-lg form-control-a">
                            <span asp-validation-for="InvestmentAmount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Desired Investment Period <span class="text-danger">*</span></label>
                            <select class="form-control form-select form-control-lg form-control-a" asp-for="InvestmentPeriod">
                                <option value="12 Months" selected>12 Months</option>
                                <option value="24 Months">24 Months</option>
                                <option value="36 Months">36 Months</option>
                                <option value="48 Months">48 Months</option>
                                <option value="60 Months">60 Months</option>
                            </select>
                            <span asp-validation-for="InvestmentPeriod" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Message</label>
                            <textarea class="form-control form-control-lg form-control-a" asp-for="Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#quickcontactform").submit(function (e) {
        e.preventDefault();
        if ($('#quickcontactform').valid()) {
            var data =
            {
                id: $("#hdproperty").val()
                , model: {
                    FirstName: $('#FirstName').val()
                    , LastName: $('#LastName').val()
                    , ContactNumber: $('#ContactNumber').val()
                    , EmailId: $('#EmailId').val()
                    , InvestmentAmount: $('#InvestmentAmount').val()
                    , InvestmentPeriod: $("#InvestmentPeriod option:selected").val()
                    , Message: $('#Message').val()
                }
            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/Home/QuickContact",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Thanks',
                            text: 'Inquiry Posted',
                        }
                        );
                        $('#FirstName').val('');
                        $('#LastName').val('');
                        $('#ContactNumber').val('');
                        $('#EmailId').val('');
                        $('#InvestmentAmount').val('');
                        $('#InvestmentPeriod').val('');
                        $('#Message').val('');
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.msg,
                        });
                    }
                }
            });
        }
    });
</script>

