@{
    ViewData["Title"] = "Reset password confirmation";
}
<main id="main">
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    &nbsp;
                    <div class="mt-5">
                        <h1 class="" style="color: #029b34; text-align: center; display: block; padding: 10px;">Your password has been reset</h1>
                        <p style="text-align: center; display: block;">Please <a asp-controller="Account" asp-action="Login">click here to log in</a> </p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
</main>