@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Recover Password</h1>
                        <span class="color-text-a">You are only one step a way from your new password, recover your password now.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Recover Password
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Contact Single ======= -->
    <section class="contact">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-sm-12">
                    <div class="row no-gutters register-box-bg">
                        <div class="col-lg-7">
                            <div class="register-box">
                                <form asp-action="ResetPassword" asp-controller="Account" method="post" class="php-email-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Code" type="hidden" />
                                    <input asp-for="Email" type="hidden" />
                                    <div class="row justify-content-center">

                                        <div class="col-md-8 col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-12 mb-3">
                                                    <div class="form-group mb-3">
                                                        <input type="password" asp-for="Password" class="form-control form-control-lg form-control-a" placeholder="Password">
                                                    </div>
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                    <div class="form-group">
                                                        <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg form-control-a" placeholder="Confirm Password">
                                                    </div>
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>



                                                <div class="col-lg-12 text-center">
                                                    <hr>
                                                </div>




                                                <div class="col-lg-12 text-center mb-3">
                                                    <button type="submit" class="btn btn-a w-100">Change Password</button>
                                                </div>

                                                <div class="col-lg-12 text-center mb-3">
                                                    <a asp-controller="Account" asp-action="Login">Login</a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="imgbox">
                                <img src="../assets/img/img-forgotpassword.jpg" class="img-fluid">

                            </div>
                        </div>

                    </div>
                </div>





            </div>
        </div>
    </section><!-- End Contact Single-->

</main><!-- End #main -->


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
